* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.display,
.control-panel {
  display: flex;
}
.container {
  flex-direction: column;
  width: 1100px;
  align-items: center;
}
.display {
  flex-wrap: wrap;
  width: 801px;
  aspect-ratio: 1/1;
}
.pixel {
  aspect-ratio: 1/1;
  background-color: white;
  outline: 1px solid black;
  transition-duration: 100ms;
}
.pixel:hover {
  background-color: black;
}

.control-panel {
  gap: 10px;
}
